.App {
  margin: auto;
  margin-top: 10px;
  /* text-align: center; */
  height: 500px;
  width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.lineT{
  text-decoration: line-through;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.undo{
  justify-content: space-between;
}


.table {
  display:flex;
}
.table >button{
  margin: 8px;
}
